<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="云宗C2M商城是全球性价比最高的电子商务平台，是全球第一家用户直连制造（Customer To Manufactory）的平台，通过平台建立消费者与品质制造商的桥梁，将消费者的需求直接发送到工厂，按需生产模式既满足了消费者个性化的需求，又短路了复杂的商品流通环节，真正让消费者享受到专属且高品质的商品。目前，商品覆盖高跟鞋、眼镜、饰品、运动鞋、运动服、女士包包等品类，未来会按照消费者需求来增加新的产品类目。" />
    <meta name="Keywords" content="云宗;云宗商城;云宗平台;云宗电商;C2M商城;工业4.0;定制平台;定制商城;奢侈品定制;定制鞋;定制包;定制眼镜;定制饰品;定制运动服;定制运动鞋" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="no" name="apple-touch-fullscreen" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/app.min.css">
    <title>云宗，全球首家C2M电子商务平台</title>
</head>

<body style="visibility: visible;">
    <div class="m_pagetop hidiv" align="center">
        <span class="m_goback" onclick="javascript:history.back()"></span><span class="m_title escp" id="modelName">资讯列表</span>
    </div>
    <div id="page-content" ng-controller="newsController">
        <div class="container">
            <div class="posts">
                <div class="posts-box">
                    <div class="ajax-load-box posts-con">
                        <div class="ajax-load-con content posts-default" ng-repeat="n in news">
                            <div class="content-box">
                                <div class="posts-default-img">
                                    <a ng-click="show_detail(n.information_id)" title="{{n.title}}">
                                        <div class="overlay"></div>
                                        <imageview data-rate="28/21" src="staticImageUrl + n.cover"></imageview>
                                    </a>
                                </div>
                                <div class="posts-default-box">
                                    <div class="posts-default-title">
                                        <h2><a ng-click="show_detail(n.information_id)" title="{{n.title}}">{{n.title}}</a></h2>
                                    </div>
                                    <div class="posts-default-content">
                                        <div class="posts-text">{{n.new_abstract}}</div>
                                        <div class="posts-default-info">
                                            <ul>
                                                <li class="post-author">
                                                    <div class="avatar"><img alt="" ng-src="images/b6.png" class="avatar avatar-96 photo" height="96" width="96"></div><a href="#/author/suxing" target="_blank">云宗资讯</a></li>
                                                <li class="ico-time"><i class="icon-clock-1"></i> {{n.post_time}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div ng-click="loadMore()" style="margin-bottom: 15px;">{{page.message}}</div>
        </div>
    </div>
    <div class="" id="m_footer">
        <div class="m_f_bottom" style="border: none">
            <div style="width:40px;height:40px;float:left;margin-top:-10px;"></div>
            <span class="col_666 f12">云宗科技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;丨&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有</span>
            <div style="width:40px;height:40px;float:right;margin-top:-10px;" id="pay_wx"></div>
        </div>
    </div>
    <script type="text/javascript">
    window.ControllerSite = '';
    window.mdomain = '.yunzong.com';
    window.version = 'v2133';
    window.__pageType = 'other'
    </script>
    <script type="text/javascript" src="js/lazyload.js"></script>
    <script type="text/javascript" src="js/news.js"></script>
    <!-- <script type="text/javascript" src="js/bytrack.js"></script> -->
</body>

</html>
